$screen: (
  mobile: 768px,
  small: 992px,
  large: 1200px
);

$colors: (
  primary: #1a2227,
  secondary: #29363c,
  font: #ffffff,
  success: #2dcf6a,
  info: #40abad,
  error: #e34247,
  warning: #fae051
);

/* theme color */
$--color-primary: #5158bb;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
