$screen: (
  smallest: 572px,
  mobile: 768px,
  small: 992px,
  large: 1200px
);

@mixin upto($mq-breakpoint, $mq-breakpoints: $screen) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (max-width: #{$mq-breakpoint}) {
    @content;
  }
}

$colors: (
  primary: #1a2227,
  secondary: #29363c,
  font: #ffffff,
  success: #2dcf6a,
  info: #40abad,
  error: #e34247,
  warning: #fae051
);

/* theme color */
$--color-primary: #5158bb;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
